@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:400,600&display=swap');
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';

.container {
  min-width: 100%;
  min-height: 100%;

  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    font: 600 1.2em Montserrat, sans-serif;

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;

      & > div:first-child {
        padding-right: 2em;
        align-self: end;
      }
    }

    h1 {
      font: 700 5em/.75em Inconsolata, monospace;

      .lead {
        color: #000e0e;
        background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: hue 10s infinite linear;
      }
    }
  }

  .panel {
    z-index: 1;
    position: absolute;
    padding: 1em;
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.tooltip {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(153,153,153,0.35);
  padding: 1em;
  border: 1px solid #eee;
  color: #2D2D36;
  pointer-events: none;
  display: grid;
  font: 1.2em/1.25em Montserrat, sans-serif;
}

.cells {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.cell {
  height: 125px;
  justify-self: center;
  font-size: 1.6em;
  line-height: 1.5em;

  span {
    display: block;
    text-align: center;
    font-size: .8em;
    line-height: .9em;
  }
}

// .cell {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font: 1.6em/1.5em Inconsolata, monospace;
//   color: #5A5A5A;
// }

.chart-label {
  font-family: Montserrat, sans-serif;
  font-size: 0.3em;
  text-anchor: middle;
  -moz-transform: translateY(0.4em);
  -ms-transform: translateY(0.4em);
  -webkit-transform: translateY(0.4em);
  transform: translateY(0.4em);
}

.header {
  font: 600 3em/1.5em Montserrat, sans-serif;
  color: #252525;
}

.title {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  text-overflow: ellipsis;
}

/* details */

.details {
  background-color: #fff;
  padding: 4em 2em;

  .grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 1em;
  }
}

table.detail {
   width: 100%;
   // margin-top: 2em;

   tbody tr td, thead tr th {
     font: 1.4em/1.5em Inconsolata, monospace;
     color: #5A5A5A;
   }

   thead tr th {
     &:hover {
       background-color: #cdebf9;
     }
     > div {
       display: grid;
       grid-template-columns: 1fr 1fr;

       div:last-child {
         justify-self: end;
       }
     }
     &:not(:last-child) {
       border-right: 1px solid #ccc;
     }
   }

   tbody tr {
     &.marked, &:hover {
       td {
         background-color: #cdebf9;
       }
     }
   }
}

table.meta {
  width: 100%;
  margin-top: 1.5em;

  tbody tr td {
    background-color: #fff;
    font-family: Inconsolata, monospace;
    color: #5A5A5A;
    height: 1.8em;
  }
}
/* /details */

/* modal */
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &>div {
    border-radius: 6px;
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
    overflow: scroll;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: rgba(51, 51, 51, 0.5);
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: rgba(51, 51, 51, 1);
  }
}
/* /modal */

/* admin */
/* tabs */
.tabs {
  // margin-top: 1em;
  border-bottom: 1px solid #f4f5f5;

  ul {
    width: 100%;
    list-style: none;
    overflow: hidden;
    display: flex;
    margin-left: 2em;

    li {
      text-align: center;
      align-self: center;
      display: block;

      a {
        display: block;
        padding: .5em 2.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
        font: 1.5em Montserrat, sans-serif;
        letter-spacing: 1px;
        color: #2a3434;
        border-bottom: 5px solid white;
      }

      &.active {
        a {
          border-bottom-color: #2a3434;
        }
      }
    }
  }
}

.tabs-content {
  padding-top: 2em;
  overflow-y: scroll;

  > div {
    display: none;

    &.show {
      display: block;
    }
  }
}
/* /tabs */

/* forms */
.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .col {
    margin: 1em;

    .summary {
      font: 1.2em Inconsolata, monospace;
      color: #5A5A5A;
      margin-bottom: 2em;

      a {
        background-color: #d0f0ff;
      }

      .title {
        font-size: 1.5em;
        text-transform: uppercase;
        display: block;
        margin-bottom: 0;
      }
    }
  }

  &.bound {
    border: 1px solid #e3e4e4;
    border-radius: .5em;
    padding: 1em 0;

    .col {
      margin: 0;
    }
  }
}

table.admin {
  width: 100%;

  thead tr th, tbody tr td {
    background-color: #fff;
    font: 1.1em Inconsolata, monospace;
    color: #5A5A5A;
    height: auto;
    padding: .5em .25em;
  }

  thead tr th {
    border-bottom: 3px solid #5A5A5A;
  }

  tbody tr td {
    border-bottom: 1px solid #e3e4e4;
  }
}

table.split {
  width: 100%;
  background-image: linear-gradient(90deg, #d5d7d7, #fff);
  border-collapse: separate;
  border-spacing: 0 1px;

  tbody tr td {
    background-color: #fff;
    font: 1.1em Inconsolata, monospace;
    color: #5A5A5A;
    // height: auto;
    // padding: .5em .25em;
    // background-color: #FAFBFB;
    // border-bottom: 1px solid #D5D7D7;
    text-overflow: ellipsis;
    cursor: pointer;

    div {
      display: flex;
      width: 100%;

      .location {
        flex: 1;

        .count {
          margin-left: 1em;
          background-color: #e7f6d5;
          color: #689f38;
          text-shadow: 0 1px rgba(0, 0, 0, 0.25);
          border-radius: .75em;
          padding: .25em .5em;
          font-size: .75em;
        }
      }

      .indicator {
        flex-basis: 10%;
        justify-content: flex-end;
      }
    }
  }

  .active {
    tbody tr td {
      border-right: none;
    }
  }
}

.hosts {
  margin: 1em 0;
  list-style-type: none;

  input[type=text] {
    font: 1.1em Inconsolata, monospace;
    border: 1px solid #e3e4e4;
    padding: .5em;
    border-radius: .25em;
    margin-bottom: .5em;
  }

  input[type=checkbox] {
    display: none;

    &:checked {
      + label {
        background-color: #e7f6d5;
        color: #689f38;

        span {
          background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%20focusable%3D%22false%22%3E%3Cpath%20stroke%3D%22%23689f38%22%20d%3D%22M14.6%202.6L6%2011.3%202.4%207.6l-.8.8L6%2012.7l9.4-9.3z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
        }
      }
    }

    + label span {
      display: inline-block;
      vertical-align: bottom;
      width: 1em;
      height: 1em;
      border: 1px solid #e3e4e4;
      border-radius: .25em;
      margin-right: .25em;
      //
    }
  }

  label {
    cursor:pointer;
    font: 1.5em Inconsolata, monospace;
  }
}

.field {
  position: relative;
  padding: 2em 1em 1em;
  border: 1px solid #e3e4e4;
  border-radius: .5em;
  margin-bottom: 1em;

  label {
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 20px;
    padding: 0 10px;
    font: 1.5em Inconsolata, monospace;
    text-transform: uppercase;
    color: #5A5A5A;
  }

  textarea {
    &::placeholder, &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
      padding: 0;
    }
  }

  .select {
    select {
      outline: none;
      -webkit-appearance: none;
      display: block;
      padding: 0 .5em;
      background: #fff;
      width: 100%;
      border: none;
    }
  }

  button {
    margin-top: 1em;
    font: 1.2em Inconsolata, monospace;
    text-transform: uppercase;
  }

  .hint {
    font: 1.2em Inconsolata, monospace;
    color: #5A5A5A;
    margin: .25em 0 0 .5em;

    a {
      background-color: #d0f0ff;
      // text-decoration: underline;
    }
  }

  .message {
    margin-bottom: 15px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    font: 1.2em Inconsolata, monospace;
  }

  .info {
    background-color: #e1f5fe;
    color: #0288d1;
  }

  .warn {
    background-color: #fff1d5;
    color: #ba954b;
  }

  .pass {
    background-color: #e7f6d5;
    color: #689f38;
  }

  .fail {
    background-color: #ffdde0;
    color: #d32f2f;
  }
}
/* /forms */
/* /admin */

// ==============================================================
// NRDS text field and dropdown overrides
// ==============================================================

[class*='Dropdown-label'],
[class*='TextField-label'] {
  padding-bottom: 4px;
  padding-top: 0;
  font-size: 14px;
  color: #000e0e;
  text-align: left;
  line-height: 19px;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 0px;
}

button[class*='Dropdown-trigger'],
[class*='TextField-input'] {
  min-width: 100px;
  min-height: 32px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 6.5px 8px 6.5px 8px; // visual centering, rather than being mathematically accurate
  font-size: 14px;
  position: relative;
  line-height: 19px;
  border: none;
  box-shadow: inset 0 0 0 1px #d5d7d7;
  background-position: right 8px top 56%;
  border-radius: 2px;
  background-color: #ffffff;
  transition: 0.075s all ease-in-out;

  &:hover {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #8e9494, 0 1px 0 0 #edeeee;
    border: none;
  }

  &:active {
    background-color: #fff;
    border: none;
    box-shadow: inset 0 0 0 1px #8e9494, 0 1px 0 0 #f4f5f5;
  }

  &:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #d5d7d7, 0 1px 0 0 #f4f5f5;
    border-radius: 2px 2px 0 0;
    border: none;

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      z-index: 100000;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #70ccd3;
    }
  }

  &:disabled {
    border: 1px solid #d5d7d7;
    background-color: #f4f5f5;

    [class*='Dropdown-label'],
    [class*='TextField-label'] {
      color: #8e9494;
    }

    &:hover {
      border: 1px solid #d5d7d7;
      background-color: #f4f5f5;
    }
  }
}

[class*='Dropdown-trigger-chevron'] {
  margin-left: 8px;
  margin-right: 2px;
}

[class*='TextField-input'] {
  &:disabled {
    border: none;
    box-shadow: 0 0 0 1px #d5d7d7;

    &:hover {
      border: none;
      box-shadow: 0 0 0 1px #d5d7d7;
    }
  }
}

[class*='Dropdown-popover'] {
  max-height: 256px;
  margin-top: -1px;
  border-color: #d5d7d7;
  border-radius: 0 2px 2px 2px;
  box-shadow: 0 1px 0 #f4f5f5;
}

[class*='Dropdown-trigger-content'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[class*='DropdownItem']:not([class*='DropdownItem-search']):hover {
  background-color: #c9f3f5;
  box-shadow: none;
}

[class*='TextField-input']:focus {
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 #70ccd3, inset 0 0 0 1px #8e9494, 0 1px 0 0 #edeeee;
}

[class*='DropdownItem-search'] {
  [class*='TextField--icon'] {
    padding-left: 20px;
  }

  [class*='TextField-input'] {
    box-shadow: none;
    padding: 3px;
    min-height: auto;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e9494;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e9494;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e9494;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #8e9494;
}
